@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "creativo";
  src: url("../src/assets/font/Creativo.otf");
}

@font-face {
  font-family: "edetodos";
  src: url("../src/assets/font/edetodos.ttf");
}
